main > .container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "infos infos infos infos"
    "advertising advertising advertising advertising"
    "footer footer footer footer";
  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  
  font-family: "Poppins", sans-serif;
}

.container > header {
  grid-area: header;

  background: url(../images/bg-hero-desktop.svg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container > header > .header-container {
  padding: 5rem 7rem 0;
}

.container > header > .header-container > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > header > .header-container > ul > .list > .img-logo {
  width: 100%;
}

.container > header > .header-container > ul > .list > .btn {
  background-color: #fff;

  padding: 1.5rem 7rem;

  border-radius: 5rem;

  color: var(--Very-Dark-Cyan);

  font-size: 1.8rem;

  transition: 0.1s;

  box-shadow: 3px 3px 10px #000;
}

.container > header > .header-container > ul > .list > .btn:focus {
  background-color: var(--Pink);

  color: #fff;
}

.container > header > .header-container > .container {
  display: flex;
  justify-content: center;
  gap: 5rem;

  margin-top: 3rem;
}

.container > header > .header-container > .container > .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > header > .header-container > .container > .left > .title {
  font-size: 6rem;
}

.container > header > .header-container > .container > .left > .description {
  font-size: 2.2rem;

  line-height: 4rem;

  margin-top: 4rem;
}

.container > header > .header-container > .container > .left > .btn {
  background-color: var(--Pink);

  margin-top: 2.5rem;
  padding: 1.5rem 0;

  width: 32rem;

  text-align: center;

  border-radius: 3rem;

  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;

  color: #fff;

  transition: 0.1s;
}

.container > header > .header-container > .container > .left > .btn:focus {
  border: 1px solid var(--Pink);

  background-color: #fff;

  color: #000;
}

@media (max-width: 425px) {
  .container > header {
    display: flex;
    flex-direction: column;

    background: url(../images/bg-hero-mobile.svg) center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 3rem 3rem 0;
  }

  .container > header > .header-container {
    display: flex;
    flex-direction: column;

    padding: 0;

    text-align: center;
  }

  .container > header > .header-container > ul {
    display: flex;
    align-items: center;
  }

  .container > header > .header-container > ul > .list > .img-logo {
    width: 15rem;
  }

  .container > header > .header-container > ul > .list > .btn {
    padding: 0.5rem 4rem;

    font-size: 1.3rem;
  }

  .container > header > .header-container > .container {
    flex-direction: column;

    margin-top: 8rem;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 2.9rem;

    line-height: 4.5rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 1.8rem; /* Tentar ajustar igual está no layout */

    line-height: 2.7rem;

    margin-top: 2rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 2rem 0;
    padding: 1.5rem 2rem;

    font-weight: bold;

    width: 100%;

    text-align: center;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container > header > .header-container > ul > .list > .img-logo {
    width: 80%;
  }

  .container > header > .header-container > ul > .list > .btn {
    padding: 1rem 6rem;

    font-size: 1.7rem;
  }

  .container > header > .header-container > .container {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 5rem;

    margin-top: 3rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 2rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 4rem auto 0;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container > header > .header-container > .container {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .container > header > .header-container > .container > .left > .title {
    width: 85%;

    margin: auto;
  }

  .container > header > .header-container > .container > .left > .description {
    margin-top: 2rem;

    font-size: 2.5rem;

    padding: 0 3rem;
  }

  .container > header > .header-container > .container > .left > .btn {
    margin: 4rem auto 0;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  /* A partir daqui fazer o responsivo com esse min-width para fazer no notebook. */
  .container > header > .header-container > .container {
    display: flex;
  }

  .container > header > .header-container > .container > .left {
    display: flex;
  }

  .container > header > .header-container > .container > .left > .title {
    font-size: 5rem;
  }

  .container > header > .header-container > .container > .left > .description {
    font-size: 1.7rem;

    line-height: 3rem;
  }

  .container > header > .header-container > .container > .right {
    display: flex;
  }

  .container > header > .header-container > .container > .right > .container-image {
    width: 60rem;
  }
}

section.infos {
  grid-area: infos;

  display: flex;
  flex-direction: column;

  padding: 0 15rem;
  margin-top: 5rem;
}

section.infos > .info.grow,
section.infos > .info.users {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;

  padding: 5rem 7rem;
  margin-bottom: 6rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.infos > .info.flowing /* PERGUNTAR NA COMUNIDADE COMO CONSERTAR */ {
  display: flex;
  justify-content: space-between;

  border-radius: 1rem;

  padding: 5rem 10rem; /* AJUSTAR O PADDING NO RESPONSIVO */
  margin-bottom: 6rem;

  box-shadow: 2px 2px 5px 2px #000;
}

section.infos > .info.flowing > .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
}

section.infos > .info.grow > .left > .title,
section.infos > .info.flowing > .right > .title,
section.infos > .info.users > .left > .title {
  font-size: 4rem;
}

section.infos > .info.flowing > .right > .title {
  margin-right: 7.5rem;
}

section.infos > .info.grow > .left > .description,
section.infos > .info.flowing > .right > .description,
section.infos > .info.users > .left > .description {
  margin-top: 2rem;

  font-size: 1.8rem;

  width: 60%;

  line-height: 3rem;

  color: var(--Grayish-Blue);
}

section.infos > .info.grow > .image-grow,
section.infos > .info.flowing > .image-flowing,
section.infos > .info.users > .image-users {
  width: 50rem;
}

@media (max-width: 425px) {
  section.infos {
    padding: 3rem 2rem;
  }

  section.infos > .info.grow,
  section.infos > .info.flowing,
  section.infos > .info.users {
    flex-direction: column-reverse;
    gap: 2rem;
    
    padding: 4rem 1rem;
    
    text-align: center;
  }

  section.infos > .info.flowing {
    flex-direction: column;
  }
  
  section.infos > .info.grow > .left > .title,
  section.infos > .info.flowing > .right > .title,
  section.infos > .info.users > .left > .title {
    font-size: 2.7rem;
  }

  section.infos > .info.flowing > .right > .title {
    margin-right: 0;

    padding: 0 .8rem;
  }

  section.infos > .info.grow > .left > .description,
  section.infos > .info.flowing > .right > .description,
  section.infos > .info.users > .left > .description {
    width: 100%;

    font-size: 1.7rem;

    line-height: 2.8rem;

    padding: 0 1rem;
  }

  section.infos > .info.grow > .image-grow,
  section.infos > .info.users > .image-users {
    width: 30rem;

    margin: 4rem 0;
  }

  section.infos > .info.flowing > .image-flowing {
    width: 100%;

    padding: 2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  section.infos {
    padding: 0 7rem;
  }

  section.infos > .info.grow,
  section.infos > .info.flowing,
  section.infos > .info.users {
    padding: 4rem 5rem;

    gap: 5rem;
  }

  section.infos > .info.grow > .left > .title,
  section.infos > .info.flowing > .right > .title,
  section.infos > .info.users > .left > .title {
    font-size: 3.5rem;
  }

  section.infos > .info.grow > .left > .description,
  section.infos > .info.flowing > .right > .description,
  section.infos > .info.users > .left > .description {
    width: 100%;

    font-size: 1.7rem;

    line-height: 2.5rem;
  }

  section.infos > .info.grow > .image-grow,
  section.infos > .info.flowing > .image-flowing,
  section.infos > .info.users > .image-users {
    width: 50rem;
  }

  section.info.users.-last {
    /* VERIFICAR SE É REALMENTE NECESSÁRIO ESSA DECLARAÇÃO */
    margin-bottom: 0;
  }
}

section.advertising {
  grid-area: advertising;
}

.footer {
  grid-area: footer;
}
